<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Panel</title>
</head>
<body>
<link rel="favicon" href="/Untitled.png"  type="image/png">
  <h1> Admin Panel </h1>
  
</body>
</html>