<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<marquee><h1>Login</h1></marquee>

<form action="/home" method="POST">
<label>ID:</label><input name="ID" type="password">
<label>Name:</label><input name="name" type="text">
<input type="submit"><label>Submit</label></button>
</form>
</body>
</html>